.post
	.post-head
		img(src="http://graph.facebook.com/"+post.user.username+"/picture")
		a(href='/' + post.user.screen_name)=post.user.screen_name
		span.date 2 July 2013
		br.clear
	include ../like
	a(href='/' + post.user.screen_name + '/' + post._id)
		img(src="/files/" + post.pic)
