div.post()
    div.post-top.span7
        div.post-user
          img(src='https://lh3.googleusercontent.com/-Unm6LLB-008/AAAAAAAAAAI/AAAAAAAAAAA/Eu_6K6ni5uQ/s32-c-k-no/photo.jpg')
          a(href='#') Username
          br
          small 2 July 2013
        div.like-btns.btn-group
          a.btn(href='#')
            i.icon-thumbs-up
          a.btn(href='#')
            i.icon-thumbs-down
      img(src=image)
      div.span7.post-bottom
        div.social-btns.btn-group
          a.btn(href='#')
            i.icon-facebook-sign
          a.btn(href='#')
            i.icon-twitter
          a.btn(href='#')
            i.icon-pinterest
        div.stat-btns
          ul.unstyled
            li 23 Comments
            li 23 Likes
            li 23 Dislikes
      br.clear

