extends layout

block content
	#anymeme.alert
		button.close(type='button', data-dismiss='alert') ×
		h3 Your ideas and inspiration in one place
		p
			| With Anymeme you can share notes, articles, quotes, images, memes and much more. Your collections can be private or public.
	.row
		.span8
			include canvas
			header#sort-header.navbar
				nav.navbar-inner
					.container
						ul.nav
							li.active
								a(href='#') LATEST
							-if(locals._user)
								li.fetch-posts(data-url='/following')
									a(href='#') FOLLOWING
							li
								a(href='#') MOST POPULAR
							li.fetch-posts(data-url='/featured')
								a(href='#') FEATURED
						form.form-search.pull-right
							input.input-medium(type='text', placeholder='Enter your search terms')
			section.row#post-listing
				-each post in latest
					include components/post
			button.btn.btn-large#load-more-post(style='width: 530px;margin: 20px 45px;') more ...
		include rightside
