extends layout

block content
	#anymeme.alert
		button.close(type='button', data-dismiss='alert') ×
		h3 Your ideas and inspiration in one place
		p
			| With Anymeme you can share notes, articles, quotes, images, memes and much more. Your collections can be private or public.
	.row
		.span8
			-if(locals._user)
				include canvas
			header#sort-header.navbar
				nav.navbar-inner
					.container
						ul.nav
							-var type = typeof type == 'undefined' ? '' : type;
							li(class=(type == 'latest' ? "active":""))
								a(href='/latest') LATEST
							-if(locals._user)
								li(class=(type == 'following' ? "active":""))
									a(href='/following') FOLLOWING
							li(class=(type == 'popular' ? "active":""))
								a(href='/popular') MOST POPULAR
							li(class=(type == 'featured' ? "active":""))
								a(href='/featured') FEATURED
						form.form-search.pull-right
							input.input-medium(type='text', placeholder='Enter your search terms')
			section.row#post-listing
				-each post in latest
					include components/post
			button.btn.btn-large#load-more-post(style='width: 530px;margin: 20px 45px;') more ...
		include rightside
