extends layout

block content
	#anymeme.alert
		button.close(type='button', data-dismiss='alert') ×
		h3 Your ideas and inspiration in one place
		p
			| With Anymeme you can share notes, articles, quotes, images, memes and much more. Your collections can be private or public.
	.row
		.span8
			include canvas
			section.row#post-listing
				-each post in latest
					include components/post
			button.btn.btn-large#load-more-post(style='width: 530px;margin: 20px 45px;') more ...
		include rightside
