extends layout

block content
	div#main-container.container
		form(method='post', action='/register')
			h1 select a name
			input(type='text', value=username, name='screen_name')
			input(type='submit').btn update
