.span4
	-if (typeof popular == 'object')
		.span4.top-block
			h3 Top Posts
			ul#top-posts-list.unstyled
				-each post in popular
					li(style='position: relative;')
						a(href='/' + post.user.screen_name + '/' + post._id)
							img.span2(src='/files/260' + post.pic, style='width: 260px;')
						include minilike
						br.clear
