extends layout

block content
	.row
		.span8
			section.well.row(style='width: 490px;margin: 20px 45px;')
				img(src="http://graph.facebook.com/"+user.username+"/picture")
				h4=user.screen_name
				div.btn-group
					a.btn.btn-medium
						div Posts
						strong=posts
					a.btn.btn-medium(href='/' + user.screen_name + '/favorites')
						div Favorites
						strong=favorites
			section.row#post-listing
				-each post in latest
					include components/post
		include rightside
